<!-- Doors Exe Component Starts Here -->
<div id="doorsexe_content" class="doorsexe_content clpadding height100">
    <div class="section_header">
        <div class="page_name">Doors Software</div>
    </div>
    <div class="row height100">
    <!--   <div class="col-12 col-md-12 col-lg-12 col-xl-12 pad12">            
            <div class="option" routerLink="insertbills">
                Exe Goes Here...
            </div>
        </div>--> 
    </div>
    
  <button type="button" class="btn cprimary_btn" (click)="gotoHomeNav()">Done</button> 



</div>
<!-- Doors Exe Component Ends Here -->
