.createstore_content .clabel label
{
    padding-bottom: 2px;
}
.createstore_content .cli_box
{
    padding-bottom: 16px;
}
.createstore_content .clabel label
{
    font-size: 21px;
    padding-bottom: 8px;
}
.createstore_content .cinput textarea
{
    padding-bottom: 0px;
    border-radius: 2px;
}
.createstore_content .section_footer
{
    position: initial;
    padding-top: 16px;
    right: 0px;
    text-align: right;
}
.createstore_content .section_footer .btn
{
    margin-right: 0px;
}