.modal1 {
    position: fixed;
    top: 180px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0px;
}
.modal-content1 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid  #2c3051;
    border-radius: 1.3rem !important;
    outline: 0;
}