 
<!-- 
 <div class="image-container">
    <img src="../../assets/img/gallery/Logo_SmarterSafe USA_Bluewellcome.jpg" alt="Image" width="400" height="300" >
  </div> -->
   
    <!-- <div class="image-container">
    <img src="../../assets/img/gallery/Logo_SmarterSafe USA_Bluewellcome.jpg" alt="Image" width="400" height="300" style="display: block; margin: 0 auto;">
</div>  -->
<!-- <div class="image-container">
  <img src="../../assets/img/gallery/Logo_SmarterSafe USA_Bluewellcome.jpg" alt="Image" width="400" height="300" style="display: block; margin: 0 auto;">
 </div> -->


<!-- 
<div class="container">
  <img src="../../assets/img/gallery/Logo_SmarterSafe USA_Bluewellcome.jpg" alt="Image" width="200" height="250" style="display: block; margin: 0 auto;" class="zoom-in-out image">
</div> -->


<!-- 
<div class="container">
  <img src="../../assets/img/gallery/Logo_SmarterSafe USA_Bluewellcome.jpg" alt="Image" width="400" height="250" style="display: block; margin-top: 50px; margin-left: 50px; "  >
</div> -->


<div class="image-container">
  <img src="assets/img/gallery/Logo_SmarterSafe USA_Bluewellcome.jpg" alt="Image" width="500" height="300" style="display: block; margin: 0 auto;">
</div>  
