<!-- Doors Exe Component Starts Here -->
<div id="createstore_content" class="createstore_content ccontent_part">
    <form [formGroup]="setDefaultStorevalues">
        <div class="section_header">
        <div class="page_name">Kiosk Configure</div>
    </div>
    <div class="section_title">
    <!--   <div class="col-12 col-md-12 col-lg-12 col-xl-12 pad12">            
            <div class="option" routerLink="insertbills">
                Exe Goes Here...
            </div>
        </div>--> 
    </div>
    
    <div class="section_body">
        <div class="row">
            <div class="col-6 col-md-6 col-lg-6">
                <div class="cli_box"> 
                    <div class="clabel">
                      <label for="kioskId" class="form-label">Kiosk Id</label>  
                    </div>                  
                    <div class="cinput">
                         <input type="text" style="pointer-events: none; opacity: 0.6 !important;" class="form-control-sm" formControlName="kioskId" id="kioskId" name="kioskId" placeholder="Enter kiosk Id" readonly>   
                    </div>
                </div>
                </div>
                <div class="col-6 col-md-6 col-lg-6">
                    <div class="cli_box"> 
                        <div class="clabel">
                            <label for="kioskName" class="form-label">Kiosk Name</label>
                        </div>                  
                        <div class="cinput">
                            <input type="text" style="pointer-events: none; opacity: 0.6 !important;" class="form-control-sm" formControlName="kioskName" id="kioskName" placeholder="Enter Kiosk Name" name="kioskName">
                       </div>
                    </div>
                </div>

                <div class="col-6 col-md-6 col-lg-6">
                    <div class="cli_box"> 
                        <div class="clabel">
                          <label for="brandName" class="form-label">Brand Name</label>  
                        </div>                  
                        <div class="cinput">
                             <input type="text" style="pointer-events: none; opacity: 0.6 !important;" class="form-control-sm" formControlName="brandName" id="brandName" name="brandName" placeholder="Enter Brand Name">   
                        </div>
                    </div>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <div class="cli_box"> 
                            <div class="clabel">
                                <label for="modelName" class="form-label">Model Name</label>
                            </div>                  
                            <div class="cinput">
                                <input type="text" style="pointer-events: none; opacity: 0.6 !important;" class="form-control-sm" formControlName="modelName" id="modelName" placeholder="Enter Model Name" name="modelName">
                           </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-6 col-lg-6">
                        <div class="cli_box"> 
                            <div class="clabel">
                              <label for="cpu" class="form-label">CPU</label>  
                            </div>                  
                            <div class="cinput">
                                 <input type="text" style="pointer-events: none; opacity: 0.6 !important;" class="form-control-sm" formControlName="cpu" id="cpu" name="cpu" placeholder="Enter CPU">   
                            </div>
                        </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6">
                            <div class="cli_box"> 
                                <div class="clabel">
                                    <label for="hdd" class="form-label">HDD</label>
                                </div>                  
                                <div class="cinput">
                                    <input type="text" style="pointer-events: none; opacity: 0.6 !important;" class="form-control-sm" formControlName="hdd" id="hdd" placeholder="Enter HDD" name="hdd">
                               </div>
                            </div>
                        </div>

                        <div class="col-6 col-md-6 col-lg-6">
                            <div class="cli_box"> 
                                <div class="clabel">
                                  <label for="ramMemory" class="form-label">Ram Memory</label>  
                                </div>                  
                                <div class="cinput">
                                     <input type="text" style="pointer-events: none; opacity: 0.6 !important;" class="form-control-sm" formControlName="ramMemory" id="ramMemory" name="ramMemory"  placeholder="Enter Ram Memory">   
                                </div>
                            </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6">
                                <div class="cli_box"> 
                                    <div class="clabel">
                                        <label for="screenSize" class="form-label">Screen Size</label>
                                    </div>                  
                                    <div class="cinput">
                                        <input type="text" style="pointer-events: none; opacity: 0.6 !important;" class="form-control-sm" formControlName="screenSize" id="screenSize" placeholder="Enter Screen Size" name="screenSize">
                                   </div>
                                </div>
                            </div>

                            <div class="col-6 col-md-6 col-lg-6">
                                <div class="cli_box"> 
                                    <div class="clabel">
                                      <label for="ipAddress" class="form-label">Ip Address</label>  
                                    </div>                  
                                    <div class="cinput">
                                         <input type="text" style="pointer-events: none; opacity: 0.6 !important;" class="form-control-sm" formControlName="ipAddress" id="ipAddress" name="ipAddress" placeholder="Enter Ip Address">   
                                    </div>
                                </div>
                                </div>
                                <div class="col-6 col-md-6 col-lg-6">
                                    <div class="cli_box"> 
                                        <div class="clabel">
                                            <label for="macAddress" class="form-label">Mac Address</label>
                                        </div>                  
                                        <div class="cinput">
                                            <input type="text" style="pointer-events: none; opacity: 0.6 !important;" class="form-control-sm" formControlName="macAddress" id="macAddress" placeholder="Enter Mac Address" name="macAddress">
                                       </div>
                                    </div>
                                </div>
         
</div>
</div>

<div class="section_footer">
 <button type="button" class="btn storecprimary_btn marR12"  data-bs-toggle="modal" data-bs-target="#confirm_popup" (click)="assignStore()" disabled>Configure Kiosk</button>
 <button type="button" class="btn storecprimary_btn marR12" (click)="gotoHomeNav()">Cancel</button> 
</div>
</form>
</div>
 
<div class="modal1" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content1">
            <div class="modal-header">
                <h5 class="modal-title">Kiosk Configure</h5>
            </div>
            <div class="modal-body">
                <h2>{{dynamicText}}</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closePopup()">
                   Ok
                </button>
            </div>
        </div>
    </div>
  </div> 
 
<!-- Doors Exe Component Ends Here -->
