/*Insert Bills CSS Starts Here*/
.insertbills_content .footer_total
{
    padding:6px 0px 12px;
}
.insertbills_content .section_footer
{
    background-color: #2c3051;
    left: 0px;
    padding: 0px 60px;
    width: 100%;
}
/*Insert Bills CSS Ends Here*/
