<!-- Insert Bills Component Starts Here -->
<div id="insertbills_content" class="insertbills_content ccontent_part">
    <div class="section_header">
        <div class="page_name">Insert Bills</div>
    </div>
    <div class="section_title text-center">
        {{userName}} Insert your cash into the bill acceptors, then press Done
    </div>
    <div class="section_body">
        <div class="padTB4"  *ngFor="let bill of billsdata; let i=index;">
            <div class="row">
                <div class="col-2 col-md-2 col-lg-2">
                    &nbsp;
                </div>
                <div class="col-3 col-md-3 col-lg-3 val_col">
                    <div class="billaccep_txt text-center">
                        <div class="value_type">
                            {{bill.amount}}
                        </div>
                        <div class="value_symbol">
                           <span> X</span>
                        </div>                        
                    </div>
                </div>                
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput MarLm28">
                        <input type="text" style="color:black" class="form-control-sm" id="" aria-describedby="cash" [(ngModel)]="bill.count">
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="billaccep_txt">
                        <span class="value_symbol_left">=</span>{{bill.sum | currency}}
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    &nbsp;
                </div>
            </div>
        </div>        
    </div>
    <div class="section_footer text-center">
        <div class="footer_total">
            <div class="row">
                <div class="col-2 col-md-2 col-lg-2">
                    &nbsp;
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="billaccep_txt tvalue_txt text-center">
                        Total Value 
                    </div>
                </div>                
                <div class="col-3 col-md-3 col-lg-3">
                    &nbsp;
                </div>                
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="billaccep_txt text-left">
                        <span class="value_symbol_left">=</span>{{sum | currency}}
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    &nbsp;
                </div>                             
            </div>
        </div>
       <button type="button" class="btn cprimary_btn" (click)="processInsertBills()">Done</button> 
      <!-- <button type="button" class="btn cprimary_btn" (click)="gotoHomeNav()">Done</button> -->
       
       
    </div>    
</div>
<!-- Insert Bills Component Ends Here -->