<!-- Stand Bank Denominations Component Starts Here -->
<div id="sbankdenomination_content" class="sbankdenomination_content ccontent_part">
    <div class="section_title">
        <div class="row">
            <div class="col-5 col-md-5 col-lg-5">
                <div class="">
                    Denominations in $
                </div>
            </div>
            <div class="col-4 col-md-4 col-lg-4">
                <div class="">
                    Needed $ Amount
                </div>
            </div>
            <div class="col-3 col-md-3 col-lg-3">
                <div class="">
                    Deposit $ Amount
                </div>
            </div>
        </div>
    </div>
    <div class="section_body">
        <div class="padTB4">
            <div class="row">
                <div class="col-4 col-md-4 col-lg-4">
                    <div class="billaccep_txt">
                        Pennies
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        -
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="padTB4">
            <div class="row">
                <div class="col-4 col-md-4 col-lg-4">
                    <div class="billaccep_txt">
                        Nickels 
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        -
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="padTB4">
            <div class="row">
                <div class="col-4 col-md-4 col-lg-4">
                    <div class="billaccep_txt">
                        Dimes
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        -
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="padTB4">
            <div class="row">
                <div class="col-4 col-md-4 col-lg-4">
                    <div class="billaccep_txt">
                        Quarters
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        -
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                       
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
            </div>
        </div>        
        <div class="padTB4">
            <div class="row">
                <div class="col-4 col-md-4 col-lg-4">
                    <div class="billaccep_txt">
                        1$
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        -
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                       
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="padTB4">
            <div class="row">
                <div class="col-4 col-md-4 col-lg-4">
                    <div class="billaccep_txt">
                        2$
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        -
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="padTB4">
            <div class="row">
                <div class="col-4 col-md-4 col-lg-4">
                    <div class="billaccep_txt">
                        5$
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        -
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="padTB4">
            <div class="row">
                <div class="col-4 col-md-4 col-lg-4">
                    <div class="billaccep_txt">
                        10$
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        -
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="padTB4">
            <div class="row">
                <div class="col-4 col-md-4 col-lg-4">
                    <div class="billaccep_txt">
                        20$
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        -
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="padTB4">
            <div class="row">
                <div class="col-4 col-md-4 col-lg-4">
                    <div class="billaccep_txt">
                        50$
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        -
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="padTB4">
            <div class="row">
                <div class="col-4 col-md-4 col-lg-4">
                    <div class="billaccep_txt">
                        100$
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        -
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>
            </div>
        </div>         -->
    </div>
    <div class="section_footer">
        <div class="footer_total">
            <div class="row">
                <div class="col-4 col-md-4 col-lg-4">
                    <div class="billaccep_txt tvalue_txt">
                        Total Value
                    </div>
                </div>
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="billaccep_txt">
                        =
                    </div>
                </div>                
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div> 
                <div class="col-1 col-md-1 col-lg-1">
                    <div class="">
                        &nbsp;
                    </div>
                </div>
                <div class="col-3 col-md-3 col-lg-3">
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="" aria-describedby="cash" disabled>
                    </div>
                </div>                
            </div>
        </div>
        <button type="button" class="btn cprimary_btn">Edit Denominations</button>
        <button type="button" class="btn cprimary_btn">Done</button>
        <button type="button" class="btn cprimary_btn">Cancel</button>
    </div>
</div>
<!-- Stand Bank Denominations Component Ends Here -->