.sbankdenomination_content .section_footer
{
    padding-top: 8px;
}
.sbankdenomination_content .section_title .btn
{
    height: 32px;
}
.footer_total
{
    padding: 12px 0px;
}
.sbankdenomination_content .section_footer
{
    background-color: #2c3051;
    left: 0px;
    padding: 0px 60px;
    width: 100%;
}
.sbankdenomination_content.ccontent_part
{
    overflow-y: scroll;
    height: calc(100% - 60px) !important;
}