<!-- Stand Bank Doors Starts Here -->
<div id="sbankdoors_content" class="sbankdoors_content clpadding height50">
    <div class="section_header">
        <div class="page_name">Stand Bank doors</div>
    </div>
    <div class="row height100">
        <div class="col-6 col-md-6 col-lg-6 pad12">            
            <div class="option" (click)="gotoChangeRequest()">
                <div class="option_icon text-center">
                    <i class="fas fa-door-closed col_frenchpink"></i>
                </div>
                <div class="options_label text-center">
                    Stand <span class="col_frenchpink">Bank Door 1</span>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6 col-lg-6 pad12">
            <div class="option" routerLink="">
                <div class="option_icon text-center">
                    <i class="fas fa-door-closed col_sunnymorning"></i>
                </div>
                <div class="options_label text-center">
                    Stand <span class="col_sunnymorning">Bank Door 2</span>
                </div>
            </div>
        </div>               
    </div>
</div>
<!-- Stand Bank Doors Component Starts Here -->
