<!-- Employee Account Component Starts Here-->
<div id="empaccount_content" class="empaccount_content clpadding height50">
    <div class="section_header">
        <div class="page_name">{{role}}</div>
    </div>
    <div class="row height100">
        <div class="col-6 col-md-4 col-lg-4 col-xl-4 pad12">            
            <div class="option" (click)="addEmployee()">
                <div class="option_icon text-center">
                    <i class="fas fa-user-plus col_frenchpink"></i>
                </div>
                <div class="options_label text-center">
                    Add
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 col-xl-4 pad12">
            <div class="option" (click)="editEmployee()">
                <div class="option_icon text-center">
                    <i class="fas fa-user-edit col_sunnymorning"></i>
                </div>
                <div class="options_label text-center">
                    View
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 col-xl-4 pad12">
            <div class="option" (click) = "removeEmployee()">
                <div class="option_icon text-center">
                    <i class="fas fa-user-minus col_weirdgreen"></i>
                </div>
                <div class="options_label text-center">
                    Remove
                </div>
            </div>
        </div>        
    </div>
</div>
<!-- Employee Account Component Ends Here-->