<!-- Truck Account Component Starts Here-->
<div id="truckaccount_content" class="truckaccount_content clpadding height50">
    <div class="section_header">
        <div class="page_name">Truck Manager</div>
    </div>
    <div class="row height100">
        <div class="col-6 col-md-4 col-lg-4 col-xl-4 pad12">            
            <div class="option" (click)="addtruckManager()">
                <div class="option_icon text-center">
                    <i class="fas fa-user-plus col_frenchpink"></i>
                </div>
                <div class="options_label text-center">
                    Add Truck
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 col-xl-4 pad12">
            <div class="option" (click)="edittruckManager()">
                <div class="option_icon text-center">
                    <i class="fas fa-user-edit col_sunnymorning"></i>
                </div>
                <div class="options_label text-center">
                    View Truck
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 col-xl-4 pad12">
            <div class="option" (click)="deletetruckManager()">
                <div class="option_icon text-center">
                    <i class="fas fa-user-minus col_weirdgreen"></i>
                </div>
                <div class="options_label text-center">
                    Remove Truck
                </div>
            </div>
        </div>        
    </div>
</div>
<!-- Truck Account Component Ends Here-->