.delete_btn .btn
{
    color: #f64e60;
    background-color: #ffe2e5;
    padding: 4px;
    font-size: 14px;
}
.remove_pname 
{
    color: #ffffff;
    font-weight: 600;
    line-height: 28px;
    font-size: 15px;
}
.remove_box
{
    padding-bottom: 16px;
}
.removetruck_content .section_footer
{
    position: absolute;
    bottom: 50px;
    right: 50px;
}