<!-- Remove Truck Component Starts Here-->
<div id="removetruck_content" class="removetruck_content ccontent_part">
    <div class="section_header">
        <div class="page_name">Remove Truck Manager</div>
    </div> 
    <div class="section_title">
        
    </div>
    <div class="section_body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="remove_box">
                    <div class="row">
                        <div class="col-8 col-md-4 col-lg-3">
                            <div class="remove_pname">
                                Truck Manager1
                            </div>
                        </div>
                        <div class="col-4 col-md-8 col-lg-9">
                            <div class="delete_btn">
                                <button class="btn"><i class="fa fa-trash"></i>  Delete Truck</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="remove_box">
                    <div class="row">
                        <div class="col-8 col-md-4 col-lg-3">
                            <div class="remove_pname">
                                Truck Manager2
                            </div>
                        </div>
                        <div class="col-4 col-md-8 col-lg-9">
                            <div class="delete_btn">
                                <button class="btn"><i class="fa fa-trash"></i>  Delete Truck</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="remove_box">
                    <div class="row">
                        <div class="col-8 col-md-4 col-lg-3">
                            <div class="remove_pname">
                                Truck Manager3
                            </div>
                        </div>
                        <div class="col-4 col-md-8 col-lg-9">
                            <div class="delete_btn">
                                <button class="btn"><i class="fa fa-trash"></i>  Delete Truck</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>                                
    </div>
    <div class="section_footer">
        <button type="button" class="btn cprimary_btn">SUBMIT</button>
    </div>
</div>
<!-- Remove Truck Component Ends Here-->