<!-- Edit Truck Component Starts Here-->
<div id="edittruck_content" class="edittruck_content ccontent_part">
    <div class="section_header">
        <div class="page_name">Edit Truck Manager</div>
    </div>
    <div class="section_title">
        <div class="row">
            <div class="col-3 col-md-3 col-lg-3">
                <div class="clabel">
                    <label for="name" class="form-label">Company Name</label>
                </div>
            </div>
            <div class="col-3 col-md-3 col-lg-3">
                <div class="clabel">
                    <label for="cpin" class="form-label"> Email</label>
                </div>
            </div>
            <div class="col-3 col-md-3 col-lg-3">
                <div class="clabel">
                    <label for="pin" class="form-label">Phone Number</label>
                </div>
            </div>
        </div>
    </div>
    <div class="section_body">
        <!-- Truck Manager 1 -->        
        <div class="row padTB4">
            <div class="col-3 col-md-3 col-lg-3">
                <div class="cli_box">                   
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="cname" placeholder="Company Name" value="Smart Safe" disabled>
                    </div>
                </div> 
            </div>
            <div class="col-3 col-md-3 col-lg-3">
                <div class="cli_box">                    
                    <div class="cinput">
                        <input type="email" class="form-control-sm" id="cemail" placeholder="Email" value="info@smartsafe.com" disabled>
                    </div>
                </div> 
            </div>
            <div class="col-3 col-md-3 col-lg-3">
                <div class="cli_box">                   
                    <div class="cinput">
                        <input type="text" class="form-control-sm" id="cphno" placeholder="Phone Number" value="1234567890" disabled>
                    </div>
                </div> 
            </div>
            <div class="col-3 col-md-3 col-lg-3">
                <div class="edit_btn">                   
                    <button class="btn"><i class="fa fa-edit"></i>  Edit Truck</button>
                </div> 
            </div>
        </div>
    </div>
    <div class="section_footer">
        
    </div>
</div>
<!-- Edit Truck Component Ends Here-->