<!-- Contact Us Component Starts Here-->
<div id="contactus_content" class="contactus_content ccontent_part">
    <div class="section_header">
        <div class="page_name">Contact Us</div>
    </div>
    <div class="section_title">
        
    </div>
    <div class="section_body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="option">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="contact_type">
                                <div class="contact_label col_aquacyan">
                                    Address
                                </div>
                                <div class="contact_type_icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="contact_type_txt">
                                    Silicon Valley, USA
                                </div>
                            </div>                                                    
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="contact_type">
                                <div class="contact_label col_aquacyan">
                                    Phone
                                </div>
                                <div class="contact_type_icon">
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                                <div class="contact_type_txt">
                                    +76 21 19 34 20
                                </div>
                            </div>                                                    
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="contact_type">
                                <div class="contact_label col_aquacyan">
                                    Email
                                </div>
                                <div class="contact_type_icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="contact_type_txt">
                                    you@yourwebsite.com
                                </div>
                            </div>                                                    
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="contact_type">
                                <div class="contact_label col_aquacyan">
                                    Website
                                </div>
                                <div class="contact_type_icon">
                                    <i class="fas fa-globe"></i>
                                </div>
                                <div class="contact_type_txt">
                                    www.yourwebsite.com
                                </div>
                            </div>                                                    
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="contact_type padB0">
                                <div class="contact_label col_aquacyan">
                                    Social Media
                                </div>
                                <div class="social_media">
                                    <ul>
                                        <li class="social_item">
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="social_item">
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="social_item">
                                            <a href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="social_item">
                                            <a href="#">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>  
                            </div>                                                                                                      
                        </div>
                    </div>
                </div>
            </div>
        </div>                                
    </div>
    <div class="section_footer">
 
    </div>
</div>
<!-- Contact Us Component Ends Here-->