/*Contact Us CSS Starts Here*/
.contactus_content .option
{
    cursor: none;
    padding: 40px;
}
.contactus_content .option:hover
{
    cursor: auto;
    background-color: #363b5f;
}
.contact_type
{
    padding-bottom: 30px;
}
.contact_label 
{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 12px;
}
.contact_type_icon
{
    font-size: 18px;
    color: #ffffff;
    margin-right: 12px;
    float: left;
    text-align: left;
}
.contact_type_txt
{
    color: #a8a8a8;
    font-size: 20px;
    font-weight: 500;
}
.contactus_content .social_media ul
{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.social_item
{
    display: inline-block;
    text-align: center;
    padding-right: 16px;
}
.social_item a
{
    width: 42px;
    height: 42px;
    background-color: #ffffff;
    display: block;
    border-radius: 50%;
}
.social_item i
{
    text-align: center;
    line-height: 42px;
    color: #363b5f;
    font-size: 18px;
}
.social_media
{
    padding-top: 12px;
}
/*Contact Us CSS Ends Here*/