<!-- System Maintenance Content Starts Here -->
<div id="systemmaintenance_content" class="systemmaintenance_content clpadding height100">
     <div class="section_header">
        <div class="page_name">System Maintenance</div>
    </div>
    <div class="row height100">
        <div class="col-4 col-md-4 col-lg-4 col-xl-4 pad12">            
            <div class="option" (click)="gotoHome()">
                <div class="option_icon text-center">
                    <i class="fas fa-truck-loading col_frenchpink"></i>
                </div>
                <div class="options_label text-center">
                    BILL <span class="col_frenchpink">ACCEPTOR JAM</span>
                </div>
            </div>
        </div>
        <div class="col-4 col-md-4 col-lg-4 col-xl-4 pad12">
            <div class="option" (click)="gotoHome()">
                <div class="option_icon text-center">
                    <i class="fas fa-print col_sunnymorning"></i>
                </div>
                <div class="options_label text-center">
                    PRINTER <span class="col_sunnymorning">MAINTENANCE</span>
                </div>
            </div>
        </div>
        <div class="col-4 col-md-4 col-lg-4 col-xl-4 pad12">
            <div class="option" (click)="gotoEmployeeMaintenance()">
                <div class="option_icon text-center">
                    <i class="fas fa-user col_weirdgreen"></i>
                </div>
                <div class="options_label text-center">
                    Employee <span class="col_weirdgreen">Maintenance</span>
                </div>
            </div>
        </div>
        <div class="col-4 col-md-4 col-lg-4 col-xl-4 pad12">
            <div class="option" (click)="gotoCreateStore()">
                <div class="option_icon text-center">
                    <i class="fas fa-store-alt col_eyeshadowblue"></i>
                </div>
                <div class="options_label text-center">
                    Configure <span class="col_eyeshadowblue">Store</span>
                </div>
            </div>
        </div>
        <div class="col-4 col-md-4 col-lg-4 col-xl-4 pad12">
            <div class="option" (click)="gotoTruck()"> <!-- Removed One ((click)="gotoTruck()") -->
                <div class="option_icon text-center">
                    <i class="fas fa-truck-pickup col_coraldust"></i>
                </div>
                <div class="options_label text-center">
                   Truck <span class="col_coraldust">Manager</span>
                </div>
            </div>
        </div>
        <div class="col-4 col-md-4 col-lg-4 col-xl-4 pad12">
            <div class="option" (click)="gotodoorsexe()">
                <div class="option_icon text-center">
                    <i class="fas fa-lock col_gloomypurple"></i>
                </div>
                <div class="options_label text-center">
                    Configure <span class="col_gloomypurple">Kiosk</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- System Maintenance Content Ends Here -->