<!-- Door Types Content Starts Here -->
<div id="doortypes_content" class="doortypes_content clpadding height100">
    <div class="row height100">
        <div class="section_title">
                <div class="col-9 col-md-9 col-lg-9">
                    Manager to confirm to open the door
                </div>


            <div class="col-6 col-md-6 col-lg-6 col-xl-6 pad12">

                <div class="door1">
                    <button type="button" class="btn csecondary_btn" (click)="openDoor()">Open Door</button>
                    <!-- <button onclick="window.open('file:///E:/Printer-SmartSafe/sea_software-net5.0-windows/sea_software.exe')">
                        
                        E:\\Printer-SmartSafe\\sea_software-net5.0-windows\\sea_software.exe
                        Launch notepad
                    </button> -->
                    <a href = "E:\Printer-SmartSafe\sea_software-net5.0-windows\sea_software.exe">Run</a>
                </div>
            </div>
            <!-- <div class="col-6 col-md-6 col-lg-6 col-xl-6 pad12">
            <div class="door2">
                <button type="button" class="btn csecondary_btn">Stand Bank Door 2</button>
            </div>
        </div>         -->
        </div>
    </div>
</div>
<!-- Door Types Content Ends Here -->