<!-- Homenav Component Starts Here -->
<div class="header_part">

    
    <!-- <div class="project_title" style="display: block;">SMART SAFE</div> -->
    <!-- <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;height:10vh;"><img src="../../assets/img/gallery/Logo_SmarterSafe USA_Bluehome.png" alt="Smart Safe Logo" style="max-width:100%;height:auto;"><div class="project_title">SMART SAFE</div></div> -->

   

    <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;height:10vh;">
        <img src="assets/img/gallery/Logo_SmarterSafe USA_Bluehome.png" alt="Smart Safe Logo" style="max-width: 20%; height: auto; width: 100%; max-height: 100%;">
        <div class="project_title">SMART SAFE</div>
        <div class="page_name">Home</div>
    </div>
    <!-- <div class="page_name">Home</div> -->
</div>
<div id="homenav_content" class="homenav_content clpadding height100">
    <div class="row height100">
        <div class="col-6 col-md-4 col-lg-4 col-xl-4 pad12">            
            <div class="option" (click)="gotoBills()">
               
                    <div class="option_icon text-center">
                        <i class="fas fa-dollar-sign col_frenchpink"></i>
                    </div>
                    <div class="options_label text-center">
                        Insert <span class="col_frenchpink">Bills</span>
                    </div>
               
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 col-xl-4 pad12">
            <div class="option" (click)="gotoAdmin()">
                <div class="option_icon text-center">
                    <i class="fas fa-user-circle col_sunnymorning"></i>
                </div>
                <div class="options_label text-center">
                    Admin
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 col-xl-4 pad12">
            <div class="option" (click)="gotoTruck()">
                <div class="option_icon text-center">
                    <i class="fas fa-truck col_weirdgreen"></i>
                </div>
                <div class="options_label text-center">
                    Truck
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 col-xl-4 pad12">
            <div class="option" (click)="gotoBank()">
                <div class="option_icon text-center">
                    <i class="fas fa-money-check-alt col_eyeshadowblue"></i>
                </div>
                <div class="options_label text-center">
                    Stand <span class="col_eyeshadowblue">Bank</span>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 col-xl-4 pad12">
            <div class="option" (click)="gotoMaintenance()">
                <div class="option_icon text-center">
                    <i class="fas fa-wrench col_coraldust"></i>
                </div>
                <div class="options_label text-center">
                    System <span class="col_coraldust">Maintenance</span>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 col-xl-4 pad12">
            <div class="option" (click)="gotoContactUs()">
                <div class="option_icon text-center">
                    <i class="fas fa-id-card col_gloomypurple"></i>
                </div>
                <div class="options_label text-center">
                    Contact <span class="col_gloomypurple">Us</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Homenav Component Ends Here -->