<!-- Shift Manager Account Component Starts Here-->
<div id="shiftmanageracc_content" class="shiftmanageracc_content clpadding height50">
    <div class="section_header">
        <div class="page_name">Shift Manager</div>
    </div>
    <div class="row height100">
        <div class="col-6 col-md-4 col-lg-4 col-xl-4 pad12">            
            <div class="option">
                <div class="option_icon text-center">
                    <i class="fas fa-user-plus col_frenchpink"></i>
                </div>
                <div class="options_label text-center">
                    Add
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 col-xl-4 pad12">
            <div class="option">
                <div class="option_icon text-center">
                    <i class="fas fa-user-edit col_sunnymorning"></i>
                </div>
                <div class="options_label text-center">
                    Edit
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 col-xl-4 pad12">
            <div class="option">
                <div class="option_icon text-center">
                    <i class="fas fa-user-minus col_weirdgreen"></i>
                </div>
                <div class="options_label text-center">
                    Remove
                </div>
            </div>
        </div>        
    </div>
</div>
<!-- Shift Manager Account Component Ends Here-->