
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-electron-primary: mat-palette($mat-indigo);
$angular-electron-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-electron-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-electron-theme: mat-light-theme((
  color: (
    primary: $angular-electron-primary,
    accent: $angular-electron-accent,
    warn: $angular-electron-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-electron-theme);

html,body
{
  height: 100%;
  overflow-y: hidden;
  font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar 
{
    width: 4px;
}
::-webkit-scrollbar-track
{
    border-radius: 4px;
    background-color:#3d4160;
}
::-webkit-scrollbar-thumb
{
    background: #5d628b; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover 
{
    background: #fa0; 
}
.main_content
{
    background-color: #2c3051;
    padding: 90px 0px 0px;
    position: relative;
}
.nav_part
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 64px;
    z-index: 9;
}
.option_home
{
    float: left;
    text-align: left;
    padding: 16px 20px;
    cursor: pointer;
}
.option_back
{
    float: right;
    text-align: right;
    padding: 16px 20px;
    cursor: pointer;
}
.option_home i
{
    font-size: 30px;
}
.option_back i
{
    font-size: 30px;
}
.header_part
{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 24px 24px 0px;
    z-index: 0;
}
.project_title
{
    font-size: 27px;
    font-weight: 800;
    color: #06fff7;
    text-align: center;
    padding-bottom: 20px;
}
.page_name
{
    font-style: italic;
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid #ffffff;
  text-transform: uppercase;
}
.col_frenchpink
{
    color: #fa709a;
}
.col_sunnymorning
{
    color: #f6d365;
}
.col_weirdgreen
{
    color: #43e97b;
}
.col_eyeshadowblue
{
    color: #6991c7;
}
.col_coraldust
{
    color: #eeae86;
}
.col_gloomypurple
{
    color: #8a5ae9;
}
.col_fuzzypeach
{
    color: #ffbf8d;
}
.col_aquacyan 
{
    color: #00f7ef;
}
.txt_white
{
    color: #ffffff;
}
.tvalue_txt
{
    color: #06fff7c2 !important;
}
.text-right
{
    text-align:right;
}
.text-left
{
    text-align:left;
}
.fix-center
{
    display: flex;
    justify-content: center;
}
.pad12
{
    padding: 12px;
}
.padL32
{
    padding-left: 32px;
}
.padTB4
{
    padding-top: 2px;
    padding-bottom: 2px;
}
.padTB6
{
    padding-top: 6px;
    padding-bottom: 6px;
}
.padB0
{
    padding-bottom: 0px !important;
}
.padR0
{
    padding-right: 0px;
}
.marR12
{
    margin-right: 12px !important;
}
.MarLm28
{
    margin-left: -28px;
}
.MarL100
{
    margin-left:100px;
}
.lh40
{
    line-height:40px;
}
.height100
{
    height: 100%;
}
.height50
{
    height: 50%;
}
.storecprimary_btn
{
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    border: none;
    background-color: #5abf27;
    border-radius: 8px;
    font-weight: 600;
    max-width: 230px;
    height: 40px;
    margin-right: 16px;
    margin-left: 0px;
    margin-top: 18px;
}
.cprimary_btn
{
    color: #ffffff;
  text-align: center;
  font-size: 16px;
  border: none;
  background-color: #5abf27;
  border-radius: 8px;
  font-weight: 600;
  max-width: 230px;
  height: 40px;
  min-width: 160px;
  margin-right: 12px;
}
.cprimary_btn:hover
{
    color: #5abf27;
    background-color: #ffffff;
}
.csecondary_btn
{
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    border: none;
    background-color: #008CBA;
    border-radius: 8px;
    font-weight: 600;
    max-width: 230px;
    height: 40px;
    min-width: 140px;
    margin-right: 12px;
}
.csecondary_btn:hover
{
    color: #008CBA;
    background-color: #ffffff;
}
.option
{
    background-color: #363b5f;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.option:hover
{
    background-color: #474f7e;
}
.option_icon i
{
    font-size: 52px;
    padding-bottom: 12px;
}
.options_label
{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}
.container
{
    padding: 0px;
    width: 100%;       //If Reequires Space left and right we can remove
    max-width: 100%;   //If Reequires Space left and right we can remove
}
.section_title
{
    color: #ffffff;
    font-weight: 800;
    font-size: 17px;
    padding-bottom: 12px;
}

.billaccep_txt
{
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
}
// .insert_bills_content .form-control,
// .insert_bills_content .form-control:focus
// .insert_bills_content .form-control-sm,
// .insert_bills_content .form-control-sm:focus
// {
//     background-color: #b5b6c1;
//     border: #b5b6c1;
//     height: 30px;
//     box-shadow: none;
// }
.ccontent_part
{
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden !important;
    height: calc(100% - 0px);
    height: 100%;
    padding: 0px 60px 50px;
}
.clpadding
{
    padding: 0px 60px 50px;
}
#minimumBalance{
  width: 49%;  
}
.cinput input
{
    margin: 5px 0px;
    margin-top: 0px;
    width: 100%;
    min-width: 10px;
    padding: 3px 8px;
    border: 0px;
    height: 36px;
    line-height: 36px;
}
.clabel label
{
    padding-bottom: 8px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0px;
    font-size: 15px;
}
.section_footer
{
    text-align: left;
    padding-top: 4px;
    position: absolute;
    bottom: 8px;
}
.footer_inner
{
    padding-top: 24px;
    text-align: left;
}
/*To hide arrows for input type number starts here*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
/*To hide arrows for input type number Ends here*/
.common_modal .modal-header
{
    border-bottom: 0px;
}
.common_modal .modal-dialog
{
    max-width: 400px;
}
.common_modal .modal-footer
{
    text-align: center;
    justify-content: center;
    border-top: 0px;
    margin: 4px 0px 30px;
}
.icon_box
{
    width: 80px;
    height: 80px;
    font-size: 46px;
    border: 3px solid #f15e5e;
    text-align: center;
    line-height: 80px;
    color: #f15e5e;
    border-radius: 50%;
    margin: 0 auto 30px;
}
.conformation_message
{
    text-align: center;
    color: #636363;
    font-weight: 800;
    font-size: 26px;
    margin-bottom: 32px;
}
.sub_text
{
    color: #999999;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 32px;
}
.common_modal .modal-footer .btn
{
    color: #fff;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
}
.ccancel_btn
{
    background-color: #c1c1c1;
}
.ccancel_btn:hover
{
    background-color: #a8a8a8;
}
.caccept_btn
{
    background-color: #f15e5e;
}
.caccept_btn:hover
{
    background-color: #ee3535;
}
.cok_btn
{
    background-color: #60c7c1;
}
.cok_btn:hover
{
    background-color: #35aea7;
}
.edit_btn .btn
{
    background-color: #ffffff;    
    height: 32px;
    line-height: 20px;
}
.main_title_bpad
{
    padding-bottom: 12px;
}
.section_header
{
    position: absolute;
    left: 0px;
    top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pinpart_content .section_footer 
{
    text-align: center;
}
.pinpart_content .section_footer .pin_submit
{
    width: 180px;
    margin: 0 auto;
}
.custom_pin_width
{
    width: 200px;
    text-align: center;
    margin: 0 auto;
}
/*Value Allignment CSS Starts Here*/
.val_col
{
    text-align: center;
    display: flex;
    justify-content: center;
}
.value_type
{
    width: 80px;
    margin: 0 auto;
    float: left;
    text-align: left;
    font-size: 16px;
}
.value_symbol
{
    float:left;
}
.value_symbol_left
{
    padding-right: 16px;
}
.project_title
{
    display: none;
}
/*Value Allignment CSS Ends Here*/
@media (min-width: 1200px)
{
    .container
    {
        max-width: 900px;
    }
}
/*Responsive Media Queries Starts Here*/

/* styles for browsers larger than 960px; */
@media only screen and (min-width: 960px) 
{
    
}


/* styles for browsers larger than 1440px; */
@media only screen and (min-width: 1440px)
{
    
}

/* for sumo sized (mac) screens */
@media only screen and (min-width: 2000px)
{
    
}

/* styles for mobile browsers smaller than 480px; (iPhone) */
@media only screen and (max-device-width: 480px)
{
    body
    {
        padding: 12px;
    }
    .container 
    {
        padding: 0px;
    }
    .option_home
    {
        padding: 20px 14px;
    }
    .option_back
    {
        padding: 20px 14px;
    }
    .project_title
    {
        font-size: 24px;
        padding-bottom: 16px;
    }
    .section_title
    {
        font-size: 13px;
    }
    .billaccep_txt
    {
        font-size: 12px;
        font-weight: 500;
    }
    .clpadding 
    {
        padding: 0px 12px 12px;
    }
    .ccontent_part
    {
        padding: 0px 14px 14px;
    }
    .option_icon i
    {
        font-size: 28px;
    }
    .options_label
    {
        font-size: 16px;
    }
}

/* default iPad screens */
@media only screen and (device-width: 768px)
{
   
}

/* different techniques for iPad screening */

/* For portrait layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) 
{
    .clpadding 
    {
        padding: 0px 24px 24px;
    }
    .ccontent_part
    {
        padding: 0px 28px 28px;
    }
    .container
    {
        padding: 0px;
    }
    .cprimary_btn,
    .csecondary_btn
    {
        max-width: 200px;
        min-width: 120px;
    }
    .section_footer 
    {
        text-align: left;
        padding-top: 40px;
    }
    .section_title
    {
        font-size: 18px;
    }
}

/* For landscape layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)
{
   body
   {
       padding: 25px;
   }
   .container
   {
       padding: 0px;
   }
}
/*Responsive Media Queries Ends Here*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .modal1 {
//     position: fixed;
//     top: 180px;
//     right: 0px;
//     bottom: 0px;
//     left: 0px;
//     z-index: 1050;
//     display: none;
//     overflow: hidden;
//     outline: 0px;
// }
// .modal-content1 {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     pointer-events: auto;
//     background-color: #2c3051;
//     background-clip: padding-box;
//     border: 1px solid rgba(0, 0, 0, 0.2);
//     border-radius: 1.3rem;
//     outline: 0;
// }
h2 {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
    color:  #2c3051;
    font-family: inherit;
    text-align: center;
    font-weight: 800 !important;
}
h5{
    font: 400 calc(14px * 0.83)/20px Roboto, "Helvetica Neue", sans-serif;
    margin: 0 0 12px;
    color:  #2c3051;
    font-family: inherit;
    font-size: 18px !important;
    font-weight: 500 !important;
}
// option {
//     font-weight: normal;
//     display: block;
//     white-space: nowrap;
//     min-height: 2.2em;
//     padding: 18px !important;
//     margin-top: 20px !important;
// }
// select option { 
//     line-height: 20px !important;
// }
.form-select-sm
{
    height: 36px;
    font-size: 15px;
}
.contentVCenter
{
    display: flex;
    justify-content: left;
    align-items: center;
}
.commonForm .form-label
{
    font-size: 21px;
    padding-bottom: 8px;
}
.commonForm .cli_box
{
    padding-bottom: 16px;
}