<!-- Truck Main Starts Here -->
<div id="truckmain_content" class="truckmain_content clpadding height50">
    <div class="section_header">
        <div class="page_name">Truck Doors</div>
    </div>
    <div class="row height100">
        <div class="col-6 col-md-6 col-lg-6 pad12">            
            <div class="option" (click)="gotoChangeTruckConfirmRequest()">
                <div class="option_icon text-center">
                    <i class="fas fa-door-closed col_frenchpink"></i>
                </div>
                <div class="options_label text-center">
                    Truck <span class="col_frenchpink">Change Request</span>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6 col-lg-6 pad12">
            <div class="option" (click)="gotoDoorsexe()">
                <div class="option_icon text-center">
                    <i class="fas fa-dungeon col_sunnymorning"></i>
                </div>
                <div class="options_label text-center">
                    Vault
                </div>
            </div>
        </div>               
    </div>
</div>
<!-- Truck Main Component Starts Here -->
