.employeereport_content .section_body
{
    margin-bottom: 40px;
}
.employeereport_content .cinput input
{
    height: 36px;
    margin-right: 12px;
    border: 0px;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 0px 16px;
    font-size: 15px;
}
.employeereport_content .cinput input
{
    width: 100%;
    float: left;
}
.employeereport_content .cli_box
{
    height: 70px;
}
.employeereport_content .section_footer
{
    background-color: #2c3051;
    left: 0px;
    padding: 0px 60px;
    width: 100%;
    bottom:100px;
}